* {
  max-width: 100%;
  box-sizing: border-box;
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
  color: white;
}

body {
  width: 100%;
  background-color: red;
}

a {
  text-decoration: none;
}

#root {
  /* width: 100%; */
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: red;
  color: white;
  border-bottom: 10px solid black;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

h1 {
  margin-left: 3%;
  width: 40%;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

nav a {
  /* color: white; */
  background-color: white;
  /* width: 10%; */
  color: red;
  padding: 1rem;
  font-weight: bold;
  border-radius: 1rem;
  transition: 1s;
}

nav a:hover {
  /* width: 20%; */
  padding: 1rem 2rem;
  transition: 1s;
}

.heroContainer {
  /* position: relative; */
  width: 100%;
}

.heroContainer img {
  border-bottom: 10px solid black;
  position: fixed;
  width: 100%;
}

.hero {
position: absolute;
bottom: 5rem;
left: 55rem;
border: 1px solid white;
padding: 1rem;
border-radius: 1rem;
background-color: red;
}




section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

form input {
  color: black;
  margin: 3%;
}
form option {
  color: black;
}
form select {
  color: black;
  margin: 3%;
}
form button {
  color: black;
  padding: 1rem;
  font-size: 2rem;
  background-color: white;
  border-radius: 1rem;
  color: red;
  border: none;
}

form button:hover {
  padding: 1.5rem;
  transition: 1s;
}

.toppings {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: 3%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  margin: 3%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 4px;
  bottom: 4px;
  background-color: rgb(70, 0, 0);
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(230, 180, 185);
  /* border: 1px solid white; */
}

input:focus + .slider {
  /* box-shadow: 0 0 1px #2196F3; */
}

input:checked + .slider:before {
  transform: translateX(1.5rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
