* {
  max-width: 100%;
  box-sizing: border-box;
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
  color: white;
}

body {
  width: 100%;
  background-color: red;
}

a {
  text-decoration: none;
}

#root {
  width: 100%;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: red;
  color: white;
  border-bottom: 10px solid black;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

h1 {
  margin-left: 3%;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

nav a {
  /* color: white; */
  background-color: white;
  color: red;
  padding: 1rem;
  font-weight: bold;
  border-radius: 1rem;
  transition: 1s;
}

nav a:hover {
  font-size: 1.5rem;
  transition: 1s;
}

.hero {
/* z-index: 0; */
position: relative;
/* background-image: url("./Assets/Pizza.jpg")); */
}

.hero img {
  /* position: relative; */
border-bottom: 10px solid black;

}
.heroText {
  position: absolute;
  color: white;

  
  background-color: lightblue;
}
.heroText button {
  display: inline-block;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

form option {
  color: black;
}
form select {
  color: black;
}
form button {
  color: black;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
